.head-kids__app {
  display: none;
}

.sidebar__placeholder.sidebar__sticky {
  height: 100%;
  display: none;
}

.d-slider__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
  justify-content: center;
}

.centerblock-wrapper {
  overflow: visible;
  position: relative;
  padding: 0 0 65px;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: padding .25s ease
}

.d-tabs {
  padding: 0;
  border-width: 0 0 1px;
  border-style: solid;
  -webkit-touch-callout: none;
  display: flex;
  justify-content: space-between;
}